<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>
    <!--MENU PARENT-->
    <menuitem
        id="menu_contractor_top"
        name="Contracts"
        groups="base.group_system,budget_contractor.group_contractor_user,budget_contractor.group_contractor_manager"
        sequence="3"/>
    <!--END MENU PARENT-->

    <!--MENU CHILD-->
    <menuitem
        id="menu_contractor_top_left"
        name="Contractor"
        sequence="1"
        parent="menu_contractor_top"
        action="action_contractor"/>
    <menuitem
        id="menu_contractor_contact_top_left"
        name="Contractor Contact"
        sequence="1"
        parent="menu_contractor_top"
        action="action_contractor_contact"/>
    <menuitem
        id="menu_contract_top_left"
        name="Contract"
        sequence="2"
        parent="menu_contractor_top"
        action="action_contract"/>
    <menuitem
        id="menu_rfs_top_left"
        name="Ready for Service"
        sequence="3"
        parent="menu_contractor_top"
        groups="base.group_system"
        action="action_rfs"/>
    <menuitem
        id="menu_milestone_top_left"
        name="Milestone"
        sequence="4"
        parent="menu_contractor_top"
        groups="base.group_system"
        action="action_milestone"/>
    <menuitem
        id="menu_milestone_actual_top_left"
        name="Actual Milestone"
        sequence="5"
        parent="menu_contractor_top"
        groups="base.group_system"
        action="action_actual_milestone"/>
    <menuitem
        id="menu_rfs_actual_top_left"
        name="Actual Ready for Service"
        sequence="6"
        parent="menu_contractor_top"
        groups="base.group_system"
        action="action_actual_rfs"/>
    <menuitem
        id="menu_contract_system_type_top_left"
        name="System Type"
        sequence="7"
        parent="menu_contractor_top"
        action="action_contract_system_type"
        groups="base.group_system,base.group_no_one"/>
    <!--END MENU CHILD-->
    </data>
</openerp>