<?xml version="1.0" encoding="utf-8"?>

<openerp>
    <data>
    <!--MENU PARENT-->
    <menuitem
        id="menu_contractor_top"
        name="Contracts"
        sequence="2"/>
    <!--END MENU PARENT-->

    <!--MENU CHILD-->
    <menuitem
        id="menu_contract_top_left"
        name="Contract"
        sequence="1"
        parent="menu_contractor_top"
        action="action_contract"/>
    <menuitem
        id="menu_contractor_top_left"
        name="Contractor"
        sequence="2"
        parent="menu_contractor_top"
        action="action_contractor"/>
    <!--END MENU CHILD-->
    </data>
</openerp>